@model C500Hemis.Models.TbKyLuatNguoiHoc

@{
    ViewData["Title"] = "XÓA HỒ SƠ";
}

@section Heads {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/4.2.2/css/fixedColumns.bootstrap5.min.css">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/fixedcolumns/4.2.2/js/dataTables.fixedColumns.min.js"></script>
    <link href="~/css/ThongTinHocTapNghienCuuSinh.css" rel="stylesheet" />
}

<h2 style="color: red;">Bạn chắc chắn muốn xóa không ?</h2>

<div class="container">
    <div style="position: relative;">
        <a asp-action="Index" style="position: absolute; top: 10px; right: 10px; margin-top:-20px;">
            <div class="icon-container">
                <i class="fa-solid fa-circle-arrow-left" style="font-size:25px;"></i>
            </div>
        </a>
    </div>

    <!-- Information display section -->
    <div class="row">
        <div class="col-md-6">
            <label class="control-label">Lý do:</label>
            <input type="text" class="form-control" value="@Html.DisplayFor(model => model.LyDo)" readonly />
        </div>
        <div class="col-md-6">
            <label class="control-label">Số quyết định:</label>
            <input type="text" class="form-control" value="@Html.DisplayFor(model => model.SoQuyetDinh)" readonly />
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label class="control-label">Ngày quyết định:</label>
            <input type="text" class="form-control" value="@Html.DisplayFor(model => model.NgayQuyetDinh)" readonly />
        </div>
        <div class="col-md-6">
            <label class="control-label">Năm bị kỷ luật:</label>
            <input type="text" class="form-control" value="@Html.DisplayFor(model => model.NamBiKyLuat)" readonly />
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label class="control-label">Cấp quyết định:</label>
            <input type="text" class="form-control" value="@Html.DisplayFor(model => model.IdCapQuyetDinhNavigation.CapKhenThuong)" readonly />
        </div>
        <div class="col-md-6">
            <label class="control-label">Mã học viên:</label>
            <input type="text" class="form-control" value="@Html.DisplayFor(model => model.IdHocVienNavigation.IdHocVien)" readonly />
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label class="control-label">Loại kỷ luật:</label>
            <input type="text" class="form-control" value="@Html.DisplayFor(model => model.IdLoaiKyLuatNavigation.LoaiKyLuat)" readonly />
        </div>
    </div>

    <!-- Deletion confirmation form -->
    <div class="d-flex justify-content-center mt-4">
        <form asp-action="Delete">
            <input type="hidden" asp-for="IdKyLuatNguoiHoc" />
            <div class="form-group">
                <input type="submit" value="Xóa" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>
