@model C500Hemis.Models.TbHocVien

@{
    ViewData["Title"] = "XÓA HỒ SƠ";
}

@section Heads {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/4.2.2/css/fixedColumns.bootstrap5.min.css">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/fixedcolumns/4.2.2/js/dataTables.fixedColumns.min.js"></script>
    <link href="~/css/ThongTinHocTapNghienCuuSinh.css" rel="stylesheet" />
}

<h2 style="color: red;">Bạn chắc chắn muốn xóa không ?</h2>

<div class="container">
    <div style="position: relative;">
        <a asp-action="Index" style="position: absolute; top: 10px; right: 10px; margin-top:-20px;">
            <div class="icon-container">
                <i class="fa-solid fa-circle-arrow-left" style="font-size:25px;"></i>
            </div>
        </a>
    </div>

    <!-- Information display section -->
    <div class="row">
        <div class="col-md-6">
            <label class="control-label">Mã học viên:</label>
            <input type="text" class="form-control" value="@Html.DisplayFor(model => model.MaHocVien)" readonly />
        </div>
        <div class="col-md-6">
            <label class="control-label">Email:</label>
            <input type="text" class="form-control" value="@Html.DisplayFor(model => model.Email)" readonly />
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label class="control-label">Số điện thoại:</label>
            <input type="text" class="form-control" value="@Html.DisplayFor(model => model.Sdt)" readonly />
        </div>
        <div class="col-md-6">
            <label class="control-label">Số bảo hiểm:</label>
            <input type="text" class="form-control" value="@Html.DisplayFor(model => model.SoSoBaoHiem)" readonly />
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label class="control-label">Nơi sinh:</label>
            <input type="text" class="form-control" value="@Html.DisplayFor(model => model.NoiSinh)" readonly />
        </div>
        <div class="col-md-6">
            <label class="control-label">Quê quán:</label>
            <input type="text" class="form-control" value="@Html.DisplayFor(model => model.QueQuan)" readonly />
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label class="control-label">Huyện:</label>
            <input type="text" class="form-control" value="@Html.DisplayFor(model => model.IdHuyenNavigation.TenHuyen)" readonly />
        </div>
        <div class="col-md-6">
            <label class="control-label">Loại khuyết tật:</label>
            <input type="text" class="form-control" value="@Html.DisplayFor(model => model.IdLoaiKhuyetTatNavigation.LoaiKhuyetTat)" readonly />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label class="control-label">Tên:</label>
            <input type="text" class="form-control" value="@Html.DisplayFor(model => model.IdNguoiNavigation.name)" readonly />
        </div>
        <div class="col-md-6">
            <label class="control-label">Tỉnh:</label>
            <input type="text" class="form-control" value="@Html.DisplayFor(model => model.IdTinhNavigation.TenTinh)" readonly />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label class="control-label">Xã:</label>
            <input type="text" class="form-control" value="@Html.DisplayFor(model => model.IdXaNavigation.TenXa)" readonly />
        </div>
    </div>

    <!-- Deletion confirmation form -->
    <div class="d-flex justify-content-center mt-4">
        <form asp-action="Delete">
            <input type="hidden" asp-for="IdHocVien" />
            <div class="form-group">
                <input type="submit" value="Xóa" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>
